.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    body {
    font-family: "Varela Round", sans-serif;
    background-color: whitesmoke;
    }
    
    
    nav {
    background-color: #3b3937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    gap: 20px;
    
    }
    
    nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    justify-content: flex-end;
    
    }
    
    nav .navLinks {
    display: flex;
    gap: 30px;
    margin-right: 15px;
    }
    
    nav a:hover {
    background-color: #e6961e;
    color: black;
    }
    
    .name {
    color: #e6961e;
    font-size: 55px;
    margin-left: 20px;
    }
    
    .name:hover {
    color: white;
    }

    #accountCreation {
        margin-left: 1%;
    }

    #accountInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #submit {
        margin-top: 2%;
    }
    