
#please {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountCreation {
    margin-left: 1%;
}

#accountInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#submit {
    margin-top: 2%;
}
    